/* Fix select options white background in dark mode */
.form-control select,
select.form-control {
    background-color: #27293d;
    color: #ffffff;
}

.form-control select option,
select.form-control option {
    background-color: #27293d;
    color: #ffffff;
}

.form-control select:focus,
select.form-control:focus {
    background-color: #27293d;
    color: #ffffff;
}

.sidebar .nav li>a, .off-canvas-sidebar .nav li>a {
    font-size: 0.92475rem !important;
    font-weight: 600 !important;
}